In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set_style('whitegrid')

In [158]:
temp = pd.read_pickle('df_of_imdb_data.pkl')

In [159]:
temp['rating'] = temp['rating'].apply(lambda x: x if type(x) == float else np.nan)
temp['runtimes'] = temp['runtimes'].apply(lambda x: int(x[0]) if type(x[0]) == str else np.nan)
temp['metascore'] = temp['metascore'].apply(lambda x: int(x['data']['metascore']) if 'metascore' in x['data'].keys() else np.nan)
temp['year'] = temp['year'].apply(lambda x: x if type(x) == int else 2019) #movie 'outlander' imdb_id 10172802 did not have a year but it is 2019

In [252]:
temp.head()

,imdb_id,titles,year,original_air_date,countries,language,genres,certificates,rating,votes,color_info,runtimes,box_office,producers,directors,production_company,distributors,metascore,is_nominee
0,0388130,Initial D: Third Stage,2001,13 Jan 2001 (Japan),[Japan],"[en, ja, cmn]","[Animation, Action, Romance, Sport]","[Australia:PG, Japan:G, United States:TV-PG]",7.6,1390,[Color],100,[],[2246748],"[1245306, 1564830]","[0179653, 0021660, 0099762, 0113955, 0036168]","[0179653, 0053157, 0039940, 0921883]",NaN,0
1,0273772,Don't Make Trouble!,2001,17 Jan 2001 (France),[France],"[fr, ar]","[Animation, Drama, Comedy]",[France:Tous publics],6.6,49,[Color],70,[],"[1007620, 0099748, 0501590, 0851724]","[0002174, 0071117, 0099379, 0181117, 0216816, ...","[0072738, 0069857]",[0038517],NaN,0
2,0243017,Waking Life,2001,07 Mar 2002 (Australia),[United States],[en],"[Animation, Drama, Fantasy]","[Argentina:13, Australia:M, Brazil:Livre, Cana...",7.7,63692,[Color],99,"{'Opening Weekend United States': '$88,977, 21...","[0438210, 0657921, 0782270, 0806189, 0808819, ...",[0000500],"[0028932, 0046530, 0042682, 0054189, 0123642, ...","[0000756, 0028932, 0007180, 0125154, 0067533, ...",83.0,0
3,0291559,Wave Twisters,2001,[],[United States],[en],"[Animation, Adventure, Musical, Sci-Fi]",[United States:Unrated],7.4,551,[Color],46,[],[1029039],"[1000898, 1037263]",[0060259],[],NaN,0
4,0277909,Mutant Aliens,2001,09 Jan 2002 (France),[United States],[en],"[Animation, Comedy, Sci-Fi]","[France:Tous publics, Germany:16, South Korea:...",6.6,1204,[Color],81,"{'Budget': '$200,000 (estimated)'}","[0390350, 0687739]",[0687739],[0077590],"[0068070, 0112126, 0084806]",39.0,0

In [256]:
prev_nom = []
for year in range(2021, 2000, -1):
    films_by_year = temp.loc[temp['year']==year][::-1]
    previous_nom = temp.loc[(temp['year'] < year) & (temp['is_nominee']==1)]['directors'].explode()
    set_previous_nom = set(previous_nom)
    for directors in films_by_year['directors']:
        
        if set(directors).intersection(previous_nom) == set():
            prev_nom.append(0)
        else:
            prev_nom.append(1)

prev_nom.reverse()

In [257]:
data = {'imdb_id':temp['imdb_id'], 'previous nom dir':prev_nom}

In [258]:
Data = pd.DataFrame(data)

In [259]:
Data.loc[Data['imdb_id']=='0432283']

     imdb_id  previous nom dir
835  0432283                 0

In [260]:
Data.loc[Data['imdb_id']=='5104604']

      imdb_id  previous nom dir
2687  5104604                 1

In [261]:
Data.loc[Data['previous nom dir']==1]

       imdb_id  previous nom dir
148    0266543                 1
225    0298148                 1
239    0347149                 1
241    0307453                 1
291    0358082                 1
...        ...               ...
3725  13651628                 1
3739   6338498                 1
3780  16951886                 1
3790  11125620                 1
3829   2953050                 1

[78 rows x 2 columns]